.HomeStaticPosts {
    background-color: #eeeeee;
    padding: 50px 0px;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin-top: 0px;

}

.HomeStaticPosts h2 {
    color: var(--main-blue-color);
    font-weight: 600;
    text-decoration: underline;
    padding: 0px 0px 50px;
}

.HomeStaticPosts img {
    max-width: 100%;
    border-radius: 10px;
}

.HomeStaticPosts p {
    padding: 50px 0px;
    color: var(--main-blue-color);
    font-weight: 600;
    font-size: 20px;
}