.ImgCarouselOne {
    background: url(../assets/aboutone.jpg) no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 60px;
    position: relative;
}

.ImgCarouselOne::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
    overflow: hidden;
}

.ImgCarouselTwo {
    background: url(../assets/abouttwo.jpg) no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 60px;
    position: relative;
}

.ImgCarouselTwo::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
    overflow: hidden;
}

.ImgCarouselThree {
    background: url(../assets/aboutthree.jpg) no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 60px;
    position: relative;
}

.ImgCarouselThree::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
    overflow: hidden;
}

h3 {
    font-size: 40px;
    letter-spacing: 0.2px;
}

p {
    font-size: 20px;
    letter-spacing: 0.9px;
}

@media screen and (max-width: 550px) {

    .ImgCarouselOne,
    .ImgCarouselTwo,
    .ImgCarouselThree {
        height: 60vh;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }
}

@media screen and (min-width: 551px) and (max-width: 887px) {

    .ImgCarouselOne,
    .ImgCarouselTwo,
    .ImgCarouselThree {
        height: 75vh;
    }

    h3 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
    }
}

@media screen and (min-width: 888px) {

    .ImgCarouselOne,
    .ImgCarouselTwo,
    .ImgCarouselThree {
        height: 90vh;
    }

    h3 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }
}