.Landing {
    background: url(../assets/header.jpg) no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top:64px ;
}

.Landing h1 {
    font-weight: 700;
    color: var(--main-blue-color);
}

.Landing h5 {
    color: var(--main-blue-color);
}

.Landing .BtnSignup {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: var(--main-color);
    font-weight: 700;
    color: var(--white-color);
    border-radius: 60px;
    transition: background-color 0.4s, color 0.4s;
}

.BtnSignup:hover {
    background-color: var(--green-color);
    color: var(--main-color);
}