.membersCardsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.createCardButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.submitButton {
    margin-top: 20px !important;
}