.Nav {
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 0px;
}

.Logo {
    max-width: 150px;
    margin-top: -5px;
}

.Nav_Anchor_Tag {
    color: var(--main-black-color);
    letter-spacing: 0.4px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

.Active {
    color: var(--main-blue-color)
}

.NavButton {
    background-color: var(--main-blue-color);
    border: 1px solid var(--main-blue-color);
    font-size: 12px;
    width: 125px;
    color: #fff;
    text-transform: uppercase;
    margin-top: -5px;
    letter-spacing: 0.4px;
}

.Nav_Anchor_Tag:hover {
    color: var(--main-blue-color);
}

.NavButton:hover {
    color: #000;
}

.MarginNavLinks {
    margin-left: auto;
}

.modalDialog {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalHeader {
    background-color: #007bff;
    color: white;
}

.modalFooter .btnSecondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.modalFooter .btnPrimary {
    background-color: var(--main-blue-color);
    border-color: var(--main-blue-color);
}

.modalBody {
    padding: 20px;
}