.gameBoard {
    width: 400px;
    height: 400px;
    background-color: #000;
    position: relative;
}

.snakeSegment {
    width: 20px;
    height: 20px;
    background-color: var(--main-blue-color);
    position: absolute;
}

.food {
    width: 20px;
    height: 20px;
    background-color: rgb(47, 255, 0);
    position: absolute;
}