.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 50px;
    background-image: url('../assets/weather_app.jpg');
    background-size: cover;
    background-position: center;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 10px 40px rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
}

.Container h2 {
    margin: 25px;
    color: var(--main-blue-color);
}

.Container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    margin-bottom: 10px;
}

.Container button {
    background-color: var(--main-blue-color);
    border: 1px solid var(--main-blue-color);
    font-size: 12px;
    width: 125px;
    color: #fff;
    text-transform: uppercase;
    margin: 20px 0 !important;
    letter-spacing: 0.4px;
    border-radius: 15px;
}

.DashboardButton {
    background-color: var(--main-blue-color);
    border: 1px solid var(--main-blue-color);
    font-size: 12px;
    width: 125px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 40px;
    letter-spacing: 0.4px;
    border-radius: 15px;
    align-self: center;
}

.Error {
    color: red;
    margin-top: 10px;
}

.WeatherDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.CityLocation,
.Temp,
.Weather,
.Wind {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin-top: 10px;
    flex: 1 1 45%;
}

.CityLocation i,
.Temp i,
.Weather i,
.Wind i {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .Main {
        padding: 20px;
    }

    .Container {
        padding: 15px;
    }

    .Container h2 {
        font-size: 1.5em;
    }

    .Container input {
        font-size: 14px;
    }

    .Container button {
        font-size: 10px;
        width: 100px;
    }

    .DashboardButton {
        font-size: 10px;
        width: 100px;
        margin-top: 30px;
    }

    .WeatherDetails {
        padding: 15px;
    }

    .CityLocation,
    .Temp,
    .Weather,
    .Wind {
        font-size: 1em;
        flex: 1 1 100%;
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .Main {
        padding: 10px;
    }

    .Container {
        padding: 10px;
    }

    .Container h2 {
        font-size: 1.2em;
    }

    .Container input {
        font-size: 12px;
    }

    .Container button {
        font-size: 8px;
    }

    .DashboardButton {
        font-size: 8px;
        width: 80px;
        margin-top: 20px;
    }

    .WeatherDetails {
        padding: 10px;
    }

    .CityLocation,
    .Temp,
    .Weather,
    .Wind {
        font-size: 0.8em;
        flex: 1 1 100%;
        margin-top: 10px;
    }
}